<!doctype html>
<html lang="pt-br"><head><meta charset="utf-8"><title>Alterar senha</title></head>
<body>
<h1>Alterar senha</h1>
{% if error %}<p style="color:red">{{ error }}</p>{% endif %}
{% with msgs = get_flashed_messages(with_categories=true) %}
{% if msgs %}
<ul>{% for cat,msg in msgs %}<li>{{ msg }}</li>{% endfor %}</ul>
{% endif %}
{% endwith %}
<form method="post">
<label>Senha atual</label><br><input type="password" name="current" required><br><br>
<label>Nova senha</label><br><input type="password" name="new1" required><br><br>
<label>Confirmar nova senha</label><br><input type="password" name="new2" required><br><br>
<button type="submit">Salvar</button>
</form>
</body></html>